<head>
    <link rel="stylesheet" href="../../../Styles/table-styles.css">
</head>
<!-- Título con estilo --><!-- Título con estilo -->
<h2 class="title">Informe revisión técnica</h2>

<div class="top-container">
    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
            class="form-control input-field" />
    </div>

    <div class="export-container">
        <!-- Selector de ítems por página -->
        <div class="items-per-page">
            <label for="itemsPerPage">Mostrar:</label>
            <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
        </div>

        <!-- Select para exportar -->
        <div class="export-select">
            <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true"
                [searchable]="false">
                <ng-option value="pdf" class="custom-option">
                    <div class="option-container">
                        <i class="fas fa-file-pdf"></i>
                        <span class="custom-option-text">PDF</span>
                    </div>
                </ng-option>
                <ng-option value="excel" class="custom-option">
                    <div class="option-container">
                        <i class="fas fa-file-excel"></i>
                        <span class="custom-option-text">Excel</span>
                    </div>
                </ng-option>
            </ng-select>
        </div>
    </div>

    <!-- Botón para agregar un nuevo módulo -->
    <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<!-- Modal -->
<div id="RevisiónModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ review.id === 0 ? 'Agregar Informe' : 'Editar Informe' }}</h2>

        <hr class="modal-border">

        <form #reviewTechnicalForm="ngForm" (ngSubmit)="onSubmit(reviewTechnicalForm)">
            <input type="hidden" name="id" [(ngModel)]="review.id">

            <div class="row">
                <div class="col">
                    <label for="date_review">Fecha de revisión:</label>
                    <div class="input-group position-relative">
                      <input type="date" id="date_review" name="date_review" class="form-control input-field"
                        [(ngModel)]="review.date_review" required #dateField="ngModel" [ngClass]="{
                          'is-invalid': dateField.invalid && (dateField.touched || dateField.dirty),
                          'is-valid': dateField.valid && (dateField.touched || dateField.dirty)
                        }" (change)="isDateInCurrentMonth()" />
                      
                      <!-- Íconos de validación -->
                      <i *ngIf="dateField.valid && review.date_review && isDateInCurrentMonth()" class="fa fa-check-circle text-success"
                         style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%);"></i> <!-- Mueve a la derecha -->
                      <i *ngIf="(dateField.invalid || !isDateInCurrentMonth()) && (dateField.touched || dateField.dirty)"
                         class="fas fa-exclamation-circle text-danger"
                         style="position: absolute; right: 30px; top: 50%; transform: translateY(-50%);"></i> <!-- Mueve a la derecha -->
                    </div>
                  
                    <!-- Mensaje de error si la fecha no es del mes actual -->
                    <div *ngIf="!isDateInCurrentMonth() && review.date_review && (dateField.touched || dateField.dirty)" class="text-danger">
                      La fecha debe ser del mes actual.
                    </div>
                  
                    <!-- Mensaje de error si el campo está vacío -->
                    <div *ngIf="dateField.invalid && (dateField.touched || dateField.dirty)" class="text-danger">
                      La fecha es obligatoria.
                    </div>
                  </div>
                  
                <div class="col">
                    <label for="Code">Código:</label>
                    <div class="input-group position-relative">
                        <input type="text" class="form-control input-field" id="Code" name="Code"
                            [(ngModel)]="review.code" required pattern="^[a-zA-Z0-9]*$" #codeField="ngModel" [ngClass]="{
                                   'is-invalid': codeField.invalid && (codeField.touched || codeField.dirty),
                                   'is-valid': codeField.valid && (codeField.touched || codeField.dirty)
                               }" (keypress)="onlyAlphanumeric($event)" />
                        <i *ngIf="codeField.valid && review.code" class="fa fa-check-circle text-success"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        <i *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)"
                            class="fas fa-exclamation-circle text-danger"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                    </div>
                    <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)" class="text-danger">
                        El código es obligatorio.
                        <div *ngIf="codeField.errors?.['pattern']">El código solo puede contener letras y números.</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <label for="tecnico" class="form-label">Nombre del técnico:</label>
                    <div class="input-group position-relative">
                        <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                            [(ngModel)]="review.tecnico" name="tecnico" (input)="searchusers($event)" #tecnico="ngModel"
                            [ngClass]="{'is-invalid': tecnico.invalid && (tecnico.dirty || tecnico.touched), 
                                           'is-valid': tecnico.valid && (tecnico.dirty || tecnico.touched)}" required>
                        <i *ngIf="tecnico.valid && review.tecnico" class="fa fa-check-circle text-success"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        <i *ngIf="tecnico.invalid && (tecnico.dirty || tecnico.touched)"
                            class="fas fa-exclamation-circle text-danger"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                    </div>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onusersSelect($event)">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user.username">
                            {{ user.username }}
                        </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="tecnico.invalid && (tecnico.dirty || tecnico.touched)" class="text-danger">
                        El nombre del técnico es obligatorio.
                    </div>
                </div>

                <div class="col">
                    <label for="lot" class="form-label">Nombre de la Finca:</label>
                    <div class="input-group position-relative">
                        <input type="text" class="form-control input-field" matInput [matAutocomplete]="autoFarms"
                            [(ngModel)]="review.lot" name="lot" (input)="searchFarms($event)" #lot="ngModel" [ngClass]="{'is-invalid': lot.invalid && (lot.dirty || lot.touched), 
                                           'is-valid': lot.valid && (lot.dirty || lot.touched)}" required>
                        <i *ngIf="lot.valid && review.lot" class="fa fa-check-circle text-success"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                        <i *ngIf="lot.invalid && (lot.dirty || lot.touched)"
                            class="fas fa-exclamation-circle text-danger"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                    </div>
                    <mat-autocomplete #autoFarms="matAutocomplete" (optionSelected)="onFarmSelect($event)">
                        <mat-option *ngFor="let farm of filteredFarms" [value]="farm.name">
                            {{ farm.name }} - {{ farm.lots.length > 0 ? farm.lots[0].cultivo : 'Sin cultivo' }}
                        </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="lot.invalid && (lot.dirty || lot.touched)" class="text-danger">
                        El nombre de la finca es obligatorio.
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <label for="observations">Observaciones:</label>
                        <div class="input-group position-relative">
                            <textarea id="observations" name="observations" class="form-control input-field"
                                [(ngModel)]="review.observation" (input)="adjustHeight($event)" rows="1"
                                style="overflow:hidden; resize: none; transition: height 0.2s;" [ngClass]="{
                                      'is-invalid': observation.invalid && (observation.dirty || observation.touched),
                                      'is-valid': observation.valid && (observation.dirty || observation.touched)
                                  }" #observation="ngModel" minlength="5" maxlength="1000"
                                pattern="^[a-zA-Z0-9., ]*$"></textarea>
                            <i *ngIf="observation.valid && review.observation" class="fa fa-check-circle text-success"
                                style="position: absolute; right: 10px; top: 10px;"></i>
                            <i *ngIf="observation.invalid && (observation.dirty || observation.touched)"
                                class="fas fa-exclamation-circle text-danger"
                                style="position: absolute; right: 10px; top: 10px;"></i>
                        </div>
                        <div *ngIf="observation.invalid && (observation.dirty || observation.touched)"
                            class="text-danger">
                            <div *ngIf="observation.errors?.['required']">Las observaciones son obligatorias.</div>
                            <div *ngIf="observation.errors?.['minlength']">Las observaciones deben tener al menos 5
                                caracteres.</div>
                            <div *ngIf="observation.errors?.['maxlength']">Las observaciones no pueden exceder los 1000
                                caracteres.</div>
                            <div *ngIf="observation.errors?.['pattern']">Las observaciones solo pueden contener letras,
                                números, comas y puntos.</div>
                        </div>
                    </div>


                    <div class="col" *ngIf="review.id !== 0">
                        <label for="State">Estado:</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="State" name="State"
                                [(ngModel)]="review.state">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label for="evidence">Evidencia Del Cultivo:</label>
                            <input type="file" id="evidence" name="evidence" class="form-control input-field"
                                (change)="onFileChange($event, 'evidence')">

                            <!-- Mostrar el nombre del archivo seleccionado -->
                            <input type="text" class="form-control input-field" [value]="review.evidences[0]?.document"
                                readonly placeholder="Nombre del archivo">

                            <!-- Mostrar la imagen cargada solo si existe -->
                            <img *ngIf="review.evidences[0]?.document" [src]="review.evidences[0].document"
                                alt="Evidencia del Cultivo" style="max-width: 100%; margin-top: 10px;">

                            <!-- Botón para limpiar la evidencia, solo se muestra si hay una imagen -->
                            <i *ngIf="review.evidences[0]?.document" (click)="clearEvidence()" class="fas fa-eraser"
                                style="cursor: pointer; color: red;"></i>
                        </div>
                    </div>


                    <!-- Lista de chequeo -->
                    <div class="row">
                        <div class="col">
                            <h3>Lista de chequeo</h3>

                            <!-- Campos para Código y Calificación Total fuera de la tabla -->
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="observations">Item:</label>
                                    <div class="input-group position-relative">
                                        <input type="text" class="form-control input-field" id="itemCode"
                                            name="itemCode" [(ngModel)]="review.checklists.code" required
                                            pattern="^[a-zA-Z0-9]*$" #itemCodeField="ngModel" [ngClass]="{
                       'is-invalid': itemCodeField.invalid && (itemCodeField.touched || itemCodeField.dirty),
                       'is-valid': itemCodeField.valid && (itemCodeField.touched || itemCodeField.dirty)
                   }" (keypress)="onlyAlphanumeric($event)" placeholder="Código" />
                                        <i *ngIf="itemCodeField.valid && review.checklists.code"
                                            class="fa fa-check-circle text-success"
                                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                                        <i *ngIf="itemCodeField.invalid && (itemCodeField.touched || itemCodeField.dirty)"
                                            class="fas fa-exclamation-circle text-danger"
                                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                                    </div>
                                    <div *ngIf="itemCodeField.invalid && (itemCodeField.touched || itemCodeField.dirty)"
                                        class="text-danger">
                                        El código es obligatorio.
                                        <div *ngIf="itemCodeField.errors?.['pattern']">El código solo puede contener
                                            letras y números.</div>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="observations">Calificación total:</label>
                                    <input type="number" class="form-control"
                                        [value]="calculateTotalQualification(review.checklists.qualifications)" readonly
                                        placeholder="Calificación total">
                                </div>
                            </div>

                            <!-- Tabla para los Criterios de Evaluación -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Criterio de evaluación</th>
                                        <th>Observación</th>
                                        <th>Calificación de criterio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let calification of califications; let i = index">
                                        <td>{{ calification.name }}</td>
                                        <td>
                                            <div class="input-group position-relative">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="calification.observation" name="observation{{i}}"
                                                    placeholder="Observaciones" #observationField="ngModel" [ngClass]="{
                           'is-invalid': observationField.invalid && (observationField.dirty || observationField.touched),
                           'is-valid': observationField.valid && (observationField.dirty || observationField.touched)
                       }" minlength="5" maxlength="70" pattern="^[a-zA-Z0-9., ]*$" required />

                                                <i *ngIf="observationField.valid && calification.observation"
                                                    class="fa fa-check-circle text-success"
                                                    style="position: absolute; right: 10px; top: 10px;"></i>
                                                <i *ngIf="observationField.invalid && (observationField.dirty || observationField.touched)"
                                                    class="fas fa-exclamation-circle text-danger"
                                                    style="position: absolute; right: 10px; top: 10px;"></i>
                                            </div>
                                            <div *ngIf="observationField.invalid && (observationField.dirty || observationField.touched)"
                                                class="text-danger">
                                                <div *ngIf="observationField.errors?.['required']">Las observaciones son
                                                    obligatorias.</div>
                                                <div *ngIf="observationField.errors?.['minlength']">Las observaciones
                                                    deben tener al menos 5 caracteres.</div>
                                                <div *ngIf="observationField.errors?.['maxlength']">Las observaciones no
                                                    pueden exceder los 70 caracteres.</div>
                                                <div *ngIf="observationField.errors?.['pattern']">Las observaciones solo
                                                    pueden contener letras, números, comas y puntos.</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group position-relative">
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="calification.qualification_criteria"
                                                    name="qualification{{i}}" placeholder="Calificación"
                                                    #qualificationField="ngModel" [ngClass]="{
                           'is-invalid': qualificationField.invalid && (qualificationField.dirty || qualificationField.touched),
                           'is-valid': qualificationField.valid && (qualificationField.dirty || qualificationField.touched)
                       }" min="1" max="100" required />

                                                <i *ngIf="qualificationField.valid && calification.qualification_criteria"
                                                    class="fa fa-check-circle text-success"
                                                    style="position: absolute; right: 10px; top: 10px;"></i>
                                                <i *ngIf="qualificationField.invalid && (qualificationField.dirty || qualificationField.touched)"
                                                    class="fas fa-exclamation-circle text-danger"
                                                    style="position: absolute; right: 10px; top: 10px;"></i>
                                            </div>
                                            <div *ngIf="qualificationField.invalid && (qualificationField.dirty || qualificationField.touched)"
                                                class="text-danger">
                                                <div *ngIf="qualificationField.errors?.['required']">La calificación es
                                                    obligatoria.</div>
                                                <div *ngIf="qualificationField.errors?.['min']">La calificación debe ser
                                                    al menos 1.</div>
                                                <div *ngIf="qualificationField.errors?.['max']">La calificación no puede
                                                    exceder 100.</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- Cierre de la lista de chequeo -->

                    <div class="row">
                        <div class="col">
                            <label for="signature_technician">Firma Del Técnico:</label>
                            <input type="file" name="technician" (change)="onFileChange($event, 'technician')"
                                accept="image/*" class="form-control input-field">
                            <canvas #signaturePadTech style="border: 1px solid #ccc; width: 100%; height: 150px;"
                                (mousedown)="startDrawing('technician', signaturePadTech)" (mouseup)="stopDrawing()"
                                (mouseleave)="stopDrawing()" (mousemove)="draw($event, signaturePadTech)"></canvas>
                            <!-- Icono de borrado -->
                            <i (click)="clearSignature('technician', signaturePadTech)" class="fas fa-eraser"
                                style="cursor: pointer; color: red;"></i>
                            <img *ngIf="review.signature_technician" [src]="review.signature_technician"
                                alt="Firma del Técnico" style="max-width: 40%; margin-top: 10px;">
                        </div>


                        <div class="col">
                            <label for="signature_producer">Firma Del Productor:</label>
                            <input type="file" name="producer" (change)="onFileChange($event, 'producer')"
                                accept="image/*" class="form-control input-field">
                            <canvas #signaturePadProd style="border: 1px solid #ccc; width: 100%; height: 150px;"
                                (mousedown)="startDrawing('producer', signaturePadProd)" (mouseup)="stopDrawing()"
                                (mouseleave)="stopDrawing()" (mousemove)="draw($event, signaturePadProd)"></canvas>
                            <!-- Icono de borrado -->
                            <i (click)="clearSignature('technician', signaturePadTech)" class="fas fa-eraser"
                                style="cursor: pointer; color: red;"></i>
                            <img *ngIf="review.signature_producer" [src]="review.signature_producer"
                                alt="Firma del Productor" style="max-width: 40%; margin-top: 10px;">
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="reviewTechnicalForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Tabla de informes -->
<table *ngIf="filteredReview.length > 0" class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" (change)="selectAll($event)" [checked]="areAllSelected()" class="bulk-select-checkbox" />
            </th>
            <th>Código</th>
            <th>Fecha de Revisión</th>
            <th>Nombre del Técnico</th>
            <th>Finca y Cultivos</th>
            <th>Observaciones</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of paginatedReviews()">
            <td>
                <label class="checkbox-container">
                    <input type="checkbox" [(ngModel)]="review.selected" class="bulk-select-checkbox" />
                    <div class="checkbox-custom"></div>
                </label>
            </td>
            <td>{{ review.code }}</td>
            <td>{{ review.date_review | date }}</td>
            <td>{{ getUserName(review.tecnicoId) }}</td>
            <td>{{ review.lot }}</td>
            <td>{{ review.observation }}</td>
            <td>
                <span [ngClass]="review.state ? 'text-success' : 'text-danger'">
                  {{ review.state ? 'Activo' : 'Inactivo' }}
                </span>
            <td>
            <td>
                <div class="action-buttons">
                    <button class="btn-icon edit" (click)="editReview(review.id)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteReview(review.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="filteredReview.length === 0">No se encontraron informes.</p>




<div class="data-table-footer">
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">
            &laquo; <!-- Flecha izquierda -->
        </button>

        <ng-container *ngFor="let page of getPageNumbers()">
            <button (click)="goToPage(page)" [class.active]="currentPage === page">
                {{ page }}
            </button>
        </ng-container>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">
            &raquo; <!-- Flecha derecha -->
        </button>
    </div>

    <!-- Eliminar seleccionados -->
    <div class="delete-selected-container">
        <button class="btn btn-danger" (click)="deleteSelected()" [disabled]="!hasSelected()">
            <i class="fas fa-trash"></i> Eliminar seleccionados
        </button>
    </div>
</div>