<div class="welcome-card">
  <div class="card-body">
    <h5 class="card-title">Bienvenido a FincAudita</h5>
    <p class="card-text">
      FincAudita es una solución innovadora que permite a los inspectores ingresar datos en tiempo real desde sus dispositivos móviles. Nuestra plataforma web asegura que la información se almacene de manera segura, facilitando el acceso y el análisis de datos. Con FincAudita, elimina errores y optimiza la eficiencia de tus procesos.
    </p>
  </div>
</div>

<div class="charts-dashboard">
  <div class="row">
    <div class="col-md-4">
      <div class="chart-card">
        <h3 class="chart-title">Fincas Registradas</h3>
        <canvas id="fincasChart"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-card">
        <canvas id="cultivosChart"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-card">
        <canvas id="lotesChart"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <!-- Resto de las tarjetas... -->
</div>