<head>
  <link rel="stylesheet" href="../../../Styles/table-styles.css">
</head>
<!-- Título con estilo -->
<h2 class="title">Lista de Países</h2>

<div class="top-container">
  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
      class="form-control input-field" />
  </div>  
  
  <div class="export-container">
    <!-- Selector de ítems por página -->
    <div class="items-per-page">
      <label for="itemsPerPage">Mostrar:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  
    <!-- Select para exportar -->
    <div class="export-select">
      <ng-select (change)="handleExport($event)" [placeholder]="'Exportar Como'" [clearable]="true" [searchable]="false">
        <ng-option value="pdf" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-pdf"></i>
            <span class="custom-option-text">PDF</span>
          </div>
        </ng-option>
        <ng-option value="excel" class="custom-option">
          <div class="option-container">
            <i class="fas fa-file-excel"></i>
            <span class="custom-option-text">Excel</span>
          </div>
        </ng-option>
      </ng-select>
    </div>
  </div>  

  <!-- Botón para agregar nuevo país -->
  <button class="btn btn-success add-btn" (click)="openModal()">Agregar nuevo <i class="fas fa-plus"></i></button>
</div>

<!-- Modal para agregar/editar país -->
<div id="countryModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ country.id === 0 ? 'Agregar País' : 'Editar País' }}</h2>
    <hr class="modal-border">

    <form #countryForm="ngForm" (ngSubmit)="onSubmit(countryForm)">
      <input type="hidden" name="id" [(ngModel)]="country.id">

      <div class="row">
        <div class="col">
          <label for="Name">Nombre del país:</label>
          <div class="input-group position-relative">
            <input
              type="text"
              class="form-control input-field"
              id="Name"
              name="Name"
              [(ngModel)]="country.name"
              required
              minlength="6"
              maxlength="50"
              pattern="^[a-zA-Z0-9\s]*$"
              #nameField="ngModel"
              [ngClass]="{
                'is-invalid': nameField.invalid && (nameField.touched || nameField.dirty),
                'is-valid': nameField.valid && (nameField.touched || nameField.dirty)
              }"
            />
            <i *ngIf="nameField.valid && country.name" class="fa fa-check-circle text-success" 
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
            <i *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)" class="fas fa-exclamation-circle text-danger" 
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
          </div>
        
          <!-- Mensajes de error para Nombre del país -->
          <div *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)" class="text-danger">
            <div *ngIf="nameField.errors?.['required']">El nombre del país es obligatorio.</div>
            <div *ngIf="nameField.errors?.['minlength']">El nombre debe tener al menos 6 caracteres.</div>
            <div *ngIf="nameField.errors?.['maxlength']">El nombre no puede exceder los 50 caracteres.</div>
            <div *ngIf="nameField.errors?.['pattern']">El nombre solo puede contener letras, números y espacios.</div>
          </div>
        
          <div *ngIf="nameField.valid && (nameField.touched || nameField.dirty)" class="text-success">
          </div>
        </div>
        

        <div class="col">
          <label for="Description">Descripción:</label>
          <div class="input-group position-relative">
            <input
              type="text"
              class="form-control input-field"
              id="Description"
              name="Description"
              [(ngModel)]="country.description"
              required
              minlength="3"
              maxlength="20"
              pattern="^[a-zA-Z0-9\s]*$"
              #descriptionField="ngModel"
              [ngClass]="{
                'is-invalid': descriptionField.invalid && (descriptionField.touched || descriptionField.dirty),
                'is-valid': descriptionField.valid && (descriptionField.touched || descriptionField.dirty)
              }"
            />
            <i *ngIf="descriptionField.valid && country.description" class="fa fa-check-circle text-success" 
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
            <i *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)" class="fas fa-exclamation-circle text-danger" 
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
          </div>
        
          <!-- Mensajes de error para Descripción -->
          <div *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)" class="text-danger">
            <div *ngIf="descriptionField.errors?.['required']">La descripción es obligatoria.</div>
            <div *ngIf="descriptionField.errors?.['minlength']">La descripción debe tener al menos 15 caracteres.</div>
            <div *ngIf="descriptionField.errors?.['pattern']">La descripción solo puede contener letras, números y espacios.</div>
          </div>
        
          <div *ngIf="descriptionField.valid && (descriptionField.touched || descriptionField.dirty)" class="text-success">
          </div>
        </div>        
      </div>
      <br>

      <div class="row">
        <div class="col">
          <label for="Code">Código:</label>
          <div class="input-group position-relative">
            <input
              type="text"
              class="form-control input-field"
              id="Code"
              name="Code"
              [(ngModel)]="country.code"
              required
              pattern="^[a-zA-Z0-9]*$"
              #codeField="ngModel"
              [ngClass]="{
                'is-invalid': codeField.invalid && (codeField.touched || codeField.dirty),
                'is-valid': codeField.valid && (codeField.touched || codeField.dirty)
              }"
              (keypress)="onlyAlphanumeric($event)"
              
            />
            <i *ngIf="codeField.valid && country.code" class="fa fa-check-circle text-success"
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
            <i *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)" class="fas fa-exclamation-circle text-danger"
               style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
          </div>
        
          <!-- Mensajes de error para Código -->
          <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)" class="text-danger">
            <div *ngIf="codeField.errors?.['required']">El código es obligatorio.</div>
            <div *ngIf="codeField.errors?.['pattern']">El código solo puede contener letras y números.</div>
          </div>
        
          <div *ngIf="codeField.valid && (codeField.touched || codeField.dirty)" class="text-success">
          </div>
        </div>
        
      
      

        <div class="col" *ngIf="country.id !== 0">
          <label for="State">Estado:</label>
          <div class="form-check form-switch">
            <input 
              class="form-check-input" 
              type="checkbox" 
              id="State" 
              name="State" 
              [(ngModel)]="country.state" 
            />
          </div>
        </div>
      </div>

      <br>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="countryForm.invalid">Guardar</button>
      </div>
    </form>
  </div>
</div>

<!-- Tabla de países -->
<table *ngIf="filteredcountry.length > 0" class="table">
  <thead>
    <tr>
      <th>
        <input 
          type="checkbox" 
          (change)="selectAll($event)" 
          [checked]="areAllSelected()" 
          class="bulk-select-checkbox"
        />
      </th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Código</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of paginatedCountry()">
      <td>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="country.selected" class="bulk-select-checkbox" />
          <div class="checkbox-custom"></div>
        </label>
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.description }}</td>
      <td>{{ country.code }}</td>
      <td>
        <span [ngClass]="country.state ? 'text-success' : 'text-danger'">
          {{ country.state ? 'Activo' : 'Inactivo' }}
        </span>
    <td>
      <td>
        <button class="btn-icon edit" (click)="editCountry(country)" title="Editar">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn-icon delete" (click)="deleteCountry(country.id)" title="Eliminar">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="filteredcountry.length === 0">No se encontraron Países.</p>

<!-- Pie de la tabla con paginación y eliminación de seleccionados -->
<div class="data-table-footer">
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow">
      &laquo; <!-- Flecha izquierda -->
    </button>

    <ng-container *ngFor="let page of getPageNumbers()">
      <button (click)="goToPage(page)" [class.active]="currentPage === page">
        {{ page }}
      </button>
    </ng-container>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="arrow">
      &raquo; <!-- Flecha derecha -->
    </button>
  </div>

  <!-- Eliminar seleccionados -->
  <div class="delete-selected-container">
    <button class="btn btn-danger" (click)="deleteSelected()" [disabled]="!hasSelected()">
      <i class="fas fa-trash"></i> Eliminar seleccionados
    </button>
  </div>
</div>
